
h1 {
    border:  1px solid blue;
    color: rgb(0, 0, 0);
    text-align: center;}

ol {
    border: 2px solid blue;}

li {
    margin: 10px;}
  
div {
    padding: 25px;}


li {
        font-style: italic;
      }





<style>
        div {
          border: 5px solid rgb(34, 15, 202); 
        }

        img { border-radius: 50px}
        </style>

div {
text-align: left;}

ol { 
    color: rgb(3, 7, 7);}



